{% extends 'base.html.twig' %}

{% block body %}
    <article>
        <h1>Welcome to EasyAdmin 4 sdfsdf</h1>

        <p class="success">
            You have <strong>successfully installed EasyAdmin 4</strong> in your application.
        </p>

        <div class="links">
            <div class="link link-blue">
                <div class="link-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12h6m-6 4h6m2 5H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z" />
                    </svg>
                </div>
                <div class="link-text">
                    <a href="https://symfony.com/bundles/EasyAdminBundle/current/index.html" target="_blank">Read EasyAdmin Docs</a>
                    <p class="description">Learn how to customize EasyAdmin to fit your needs</p>
                </div>
            </div>

            <div class="link link-green">
                <div class="link-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 10l4.553-2.276A1 1 0 0121 8.618v6.764a1 1 0 01-1.447.894L15 14M5 18h8a2 2 0 002-2V8a2 2 0 00-2-2H5a2 2 0 00-2 2v8a2 2 0 002 2z" />
                    </svg>
                </div>
                <div class="link-text">
                    <a href="https://symfonycasts.com/screencast/easyadminbundle" target="_blank">Watch EasyAdmin Course on SymfonyCasts</a>
                    <p class="description">More than 30 videos <span class="d-none d-md-inline-block">to learn how to build a powerful admin area</span></p>
                </div>
            </div>

            <div class="link link-red">
                <div class="link-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
                    </svg>
                </div>
                <div class="link-text">
                    <a href="https://github.com/sponsors/javiereguiluz" target="_blank">Sponsor EasyAdmin</a>
                    <p class="description">Fund the development of new features. <span class="d-none d-md-inline-block">One-time or regular donations</span></p>
                </div>
            </div>

            <div class="link link-yellow">
                <div class="link-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11.049 2.927c.3-.921 1.603-.921 1.902 0l1.519 4.674a1 1 0 00.95.69h4.915c.969 0 1.371 1.24.588 1.81l-3.976 2.888a1 1 0 00-.363 1.118l1.518 4.674c.3.922-.755 1.688-1.538 1.118l-3.976-2.888a1 1 0 00-1.176 0l-3.976 2.888c-.783.57-1.838-.197-1.538-1.118l1.518-4.674a1 1 0 00-.363-1.118l-3.976-2.888c-.784-.57-.38-1.81.588-1.81h4.914a1 1 0 00.951-.69l1.519-4.674z" />
                    </svg>
                </div>
                <div class="link-text">
                    <a href="https://github.com/EasyCorp/EasyAdminBundle/stargazers" target="_blank">Star EasyAdmin on GitHub</a>
                    <p class="description">Help us promote EasyAdmin to reach new developers</p>
                </div>
            </div>
        </div>

        <section class="customization">
            <h2>Why am I seeing this page? Where's my backend menu?</h2>
            <p>
                This page is the default EasyAdmin dashboard page. You are seeing this page
                because you never customized the dashboard of your backend.
            </p>
            <p>
                Edit the following file and use any of the ways to
                <a href="https://symfony.com/bundles/EasyAdminBundle/current/dashboards.html#customizing-the-dashboard-contents">customize your dashboard contents</a>:
            </p>

            <pre translate="no" class="notranslate">...</pre>
        </section>
    </article>
{% endblock %}

{% block footer_javascripts %}
    <script >
        window.addEventListener('DOMContentLoaded', () => {
            if (window.innerWidth > 768) {
                confetti({
                    disableForReducedMotion: true,
                    angle: 60,
                    particleCount: 50,
                    spread: 55,
                    origin: {x: 0.05, y: 550 / window.innerHeight}
                });
                confetti({
                    disableForReducedMotion: true,
                    angle: 120,
                    particleCount: 50,
                    spread: 55,
                    origin: {x: 0.95, y: 550 / window.innerHeight}
                });
            }
        });
    </script>
{% endblock %}